<div class="padding" ng-controller="list">
  <super-navbar>
    <super-navbar-title>
      NUHacks
    </super-navbar-title>
  </super-navbar>
  <table id="hack-table">
    <tbody>
      <tr ng-repeat="item in list">
        <td>
          {{ item.text }}
        </td>
        <td align="center">
          <div class="score-display">
            <span class="glyphicon glyphicon-menu-up"></span><br>
              <span class="score">{{ item.upvotes }}</span><br>
            <span class="glyphicon glyphicon-menu-down"></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
