.supersonic-navbar-mock {
  text-align: center;
  font-weight: 600;
}

.score-display {
  vertical-align: middle;
}

.buttonselected {
  background-color: #8A6DE9 !important;
  color: white !important;
}

.selectedgreen {
  color: #40CE01 !important;
}

.selectedred {
  color: red !important;
}

span.glyphicon-menu-up {
  font-size: 25px;
  padding-bottom: -20px;
  color: #77A485;
}

span.glyphicon-menu-down {
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: -20px;
  color: #F37578;
}

li.tag-item-display {
  display: inline-block; 
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #428bca;
  color: white;
  border-radius: 4px;
  margin-right: 10px;

}

div.textbox {
  width:90%;
  margin-right: -20px;
}

.padding {
  background-color: white;
}

div.load-indicator {
  height: 100px;
  text-align: center;
  font-size: large;
  padding-top: 10%;
}

tr {
  border-bottom:solid;
  border-width: 1px 0;
  border-color: #D3D3D3;
}

span.score {
  font-size: 125%;
}

span.hackscore {
  font-size: 125%;
  padding-right: 3px;
}

tr.ng-enter,
tr.ng-leave,
tr.ng-move {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  position:relative;
}

tr.ng-enter {
  opacity:0;
}
tr.ng-enter.ng-enter-active {
  opacity:1;
}

tr.ng-leave {
  opacity:1;
}
tr.ng-leave.ng-leave-active {
  opacity:0;
}

tr.ng-move {
  opacity:0.5;
}
tr.ng-move.ng-move-active {
  opacity:1;
}

i#loader {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: -2px;
  margin-bottom: 5px;
}

