.supersonic-navbar-mock {
  background-color: #520063 !important;
  text-align: center;
  font-weight: 600;
}

.score-display {
  vertical-align: middle;
}

.buttonselected {
  background-color: #AAAAAA !important;
}

.selectedgreen {
  color: #40CE01 !important;
}

.selectedred {
  color: red !important;
}

span.glyphicon-menu-up {
  font-size: 25px;
  padding-bottom: -20px;
  color: #77A485;
}

span.glyphicon-menu-down {
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: -20px;
  color: #F37578;
}

li.tag-item {
  background: #428bca !important;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

li.tag-item-display {
  display: inline; 
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #428bca;
  color: white;
  border-radius: 4px;
}

.padding {
  /*background-color: #E6E6FA;*/
  background-color: #FFFADD;
}

tr {
  border-bottom:solid;
  border-width: 1px 0;
  border-color: #D3D3D3;
}

span.score {
  font-size: 125%;
}



