<div ng-apps="searchhack" ng-controller="searchpage">

  <super-navbar>
    <super-navbar-title>
      Search
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
  	<div class="button-bar">
  		<button ng-click="search()">goo</button>
 	<!-- <form ng-submit="search()"> -->
    	<input type="text" style="text-align: center" ng-model="hack_need" placeholder="Find a hack...">
    <!-- </form>	 -->
  </div>


  
  <div class="result">
  	
  		<div ng-repeat="item in searchpage">
  			<td ng-bind="item"></td>
  		<!-- <div ng-show="!isxxx()">
  			<h1> used</h1>
  		</div>	
  		<div ng-show="isxxx()">
  			<h2> fuck</h2> -->
  	
 
  		</div>
 
  </div>
</div>