<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Your posts
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <!-- Begin stuff copied from feed.html -->
    <table id="hack-table" scroll>
        <tbody ng-click="upvote()">
          <tr ng-repeat="item in list | orderBy: sortby">
            <!-- Text and tags -->
            
            <td>
              <super-navigate view-id="showHack#showHack?id={{ item._id }}">
              <div style="position:relative; overflow: auto; height: 110px;">
                {{ item.text }}
                <ul ng-repeat="tag in item.tags | limitTo : 3" style="position: absolute; bottom: 0;">
                  <li class="tag-item-display">#{{ tag }}</li>
                </ul>
              </div>
              </super-navigate>  
            </td>
            
            <!-- End text and tags -->
            <!-- Upvote display -->
            <td align="center">
              <div class="score-display">
                <span class="glyphicon glyphicon-menu-up" ng-class="{selectedgreen: (item.voteStatus == 1)}" ng-click="vote(item, 1)" ></span><br>
                  <span class="score">{{ item.upvotes }}</span><br>
                <span class="glyphicon glyphicon-menu-down"  ng-class="{selectedred: (item.voteStatus == -1)}" ng-click="vote(item, -1)"></span>
              </div>
            </td>
            <!-- End upvote display-->
          </tr>
        </tbody>
      </table>
      <div class="load-indicator">
        <p >Scroll down to load more</p>
      </div>
      </div>
      <!-- End stuff copied from feed.html -->
</div>