/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
  background-color: #8A6DE9;
  color: #ffffff;
}

navigation-bar title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

navigation-bar button {
  color: #ffffff;
  font-weight: 300;
}

navigation-bar button:pressed {
  /*color: #AAAAAA;*/
  color: #8A6DE9;
}

tab-bar {
  background-color: black;
  border-top: 2px #8A6DE9 solid;
}

tab-bar tab-bar-item {
  /*color: #b0b1b4;*/
  color: #8A6DE9;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #8A6DE9;
}
tab-bar-item#widesearch{
  background-image: url(icons/search.svg);
}
tab-bar-item#tags {
  background-image: url(icons/tags.svg);
}

tab-bar-item#index {
  background-image: url(icons/home.svg);
}

tab-bar-item#profile {
  background-image: url(icons/profile.svg);
}
