<div class="padding" ng-app="showHack" ng-controller="showHackController">

	<super-navbar>
	<super-navbar-title>
	Post
</super-navbar-title>
</super-navbar>

	<div class="hackbox" style="width: 85%; overflow: auto; float: left;">
		<ul>
			<li class="list-el">{{ item.text }}</li>
			<li class="list-el tag-item-display" ng-repeat="tag in item.tags">#{{ tag }}</li>
			<li class="list-el">{{ item.date | date:'short' }}</li>
		</ul>
	</div>
	<ul class="hackdisplay" style="float: right;">
		<li>
			<span class="glyphicon glyphicon-menu-up" ng-class="{selectedgreen: (item.voteStatus == 1)}" ng-click="vote(item, 1)" ></span>
		</li>
		<li style="text-align: center;">
			{{ item.upvotes }}
		</li>
		<li>
			<span class="glyphicon glyphicon-menu-down"  ng-class="{selectedred: (item.voteStatus == -1)}" ng-click="vote(item, -1)"></span>
		</li>
	</ul>

	<button ng-show="own(item)" ng-click="deletePost(item)" class="button button-full button-assertive delete-button">
		Delete this post
	</button>

</div>