<div class="padding" ng-controller="showTagController">

    <super-navbar>
    <super-navbar-title>
      #{{ tags }}
    </super-navbar-title>
    </super-navbar>
    <table id="hack-table" style="width:100%" scroll>
        <tbody ng-click="upvote()">
          <tr ng-repeat="item in result | orderBy: sortby">
            <td>
              <div style="position:relative; overflow: auto; height: 110px;">
                {{ item.text }}
              <ul style="position: absolute; bottom: 0;">
                  <li class="tag-item-display" ng-repeat="tag in item.tags">#{{ tag }}</li>
              </ul>
              </div>
            </td>
            <td align="center">
              <div class="score-display">
                <span class="glyphicon glyphicon-menu-up" ng-class="{selectedgreen: (item.voteStatus == 1)}" ng-click="vote(item, 1)" ></span><br>
                  <span class="score">{{ item.upvotes }}</span><br>
                <span class="glyphicon glyphicon-menu-down"  ng-class="{selectedred: (item.voteStatus == -1)}" ng-click="vote(item, -1)"></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  


</div>